@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Dela+Gothic+One&display=swap');
.headings
{
    font-family: 'Dela Gothic One', cursive;
}
.header
{
    font-family: 'Dela Gothic One', cursive;
    color: #ff8c00;
    text-align: center;
    background-image: url(gaming7.jpeg);
}
::placeholder
{
    color:#ccc;
}